@import-normalize; //保证页面在不同浏览器上默认样式相近
@import "./helper.scss";

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

* {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;

}

.icon {
    width: 2em;
    height: 2em;
    fill: $icon-01;
    margin-bottom: 2px;
}